@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --back: #000;
  --brown: #b28756;
  --white: #fff;
}

body {
  font-size: 13px;
}

header {
  height: 100px;
  background-color: var(--back);
  color: var(--white);
}

.header {
  max-width: 1140px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

.logoimg {
  width: 80px;
  height: 80px;
  background-color: var(--brown);
  border-radius: 40px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu ul,
.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
}

.menu li a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  border-bottom: 5px solid var(--back);
}

.menu li a:hover {
  border-bottom: 5px solid var(--brown);
  color: #ccc;
}

.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  height: 100%;
  width: 100vw;
}

.banner .slide {
  color: #ccc;
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
}

.banner .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  color: var(--white);
  justify-content: center;
}

.banner .slidearea h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}

.banner h1 span {
  color: var(--brown);
}

.banner h2 {
  text-transform: uppercase;
  margin-top: 20px;
}

.banner a {
  display: block;
  background-color: var(--brown);
  color: var(--white);
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: 600;
  margin-top: 20px;
}

.banner .slider-pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid var(--brown);
  border-radius: 8px;
  margin: 0 5px;
  cursor: pointer;
}

.banner .pointer:hover {
  background-color: var(--brown);
  border: 2px solid var(--white);
}
